body {
    color: white;
    background-color: black;
    font-family: 'Graduate', cursive;
}

.img-size {
    width: 100px;
    height: 100px;
}

.border-around-numbers {
    border: 3px solid white;
}

.red-text {
    color: red;
}



.button-attributes {
    width: 100px;
    height: 30px;
}

#title {
    text-align: center;
    margin: 0 0 0 0;
    font-size: 50px;
}

#scoreboard {
    border: 5px solid white;
    background-color: black;
    max-width: 900px;
    height: 400px;
    margin: 0 auto;
}

#score-top {
    display: flex;
    justify-content: center;

}

#nets-img {
    margin: 0 300px;
}

#lakers-img {
    margin: 0 300px;
}

#time {
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    width: 170px;
    margin: 0 auto;
    font-size: 60px;
}

#score-mid-text {
    display: flex;
    justify-content: center;
}

#home-points-text {
    margin: 0 100px 0 60px;
}

#shot-clock-text {
    margin: 0 50px;
}

#period-text {
    margin: 0 50px;
}

#away-points-text {
    margin: 0 50px 0 90px;
}

#score-mid-numbers {
    display: flex;
    justify-content: flex-start;
}

#home-points {
    font-size: 50px;
    margin:  0 0 0 40px;
    color: orange;
}

#shot-clock {
    font-size: 45px;
    margin: 0 0 0 180px
}

#period {
    font-size: 45px;
    color: green;
    margin: 0 0 0 145px;
}

#away-points {
    font-size: 50px;
    color: orange;
    margin: 0  0 0 140px;
}

#score-bot {
    display: flex;
    justify-content: space-around;
}

#score-buttons {
    border: 5px solid white;
    text-align: center;
    margin: 10px auto 0 auto;
    padding: 10px;
    max-width: 900px;
    max-height: 30px;

}

